{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Category: {{ category|capfirst }}</h2>

    <!-- Error message, if any -->
    {% if message %}
        <div style="background-color:red; color:yellow; border-radius: 20px;" class="container">
          <h1>Error!</h1>
          {{ message }}
        </div>
    {% endif %}

    <!-- Category listing -->
    {% for category in category_list %}
      <h4><a href="{% url 'listing' category.pk %}">{{ category.title }}</a></h4>
    {% endfor %}
{% endblock %}
